    <div class="pagepadding">
      &nbsp;
    </div>

    <div class="footer">
      <div class="trim">
        <div class="wrapper">
        </div>
      </div>
      <div class="bottom">
        <div class="wrapper">
          <div class="column">
            CalgaryUrbanite is an urban/sustainability/social/web blogazine lovingly crafted by <a href="https://derekmcburney.com/">Derek McBurney</a>.
            <br/>
            &copy; 2009-{{ site.time | date: "%Y" }}, Derek McBurney <a href="mailto:derek@calgaryurbanite.com">derek@calgaryurbanite.com</a>, all words, graphics &amp; photos (except where noted) by Derek McBurney.<br/>
          </div>
          <div class="spacer">&nbsp;</div>
        </div>
      </div>
    </div>
