---
layout: default
---
<div class="page dynamic">
    <div class="post">
        <div class="title"></div>
        <div class="information"></div>
        <div class="article">
            <div class="innerwrapper">
                {{ content }}
            </div>
        </div>
        <div id="facebook"><iframe class="facebook" src="http://www.facebook.com/widgets/like.php?href=http%3A%2F%2Fcalgaryurbanite.com%2F20130318%2Fkeystone-xl-if-it-fails" scrolling="no" frameborder="0" style="border:none; width:450px; height:80px"></iframe></div>
    </div>
</div>